<%- include('../includes/head.ejs') %>

    <link rel="stylesheet"  href="/css/add-product.css">

</head>
    <body>
        <%- include('../includes/nav.ejs') %>

        <div class="container">
            <form method="post"  action="/admin/sell-product" enctype="multipart/form-data" novalidate>
                    <label for="">Product Name</label>
                    <br>
                    <input type="text" name="title" value="<%= pastInput.title %>" autocomplete="off"  id="" required>
                    <br>
                    <label for="">Product Price</label>
                    <br>
                    <input type="number" name="price" value="<%= pastInput.price %>"  id="price" required>
                    <br>
                    <label for="image">Image</label>
                    <!-- <input type="text"   name="image_url" value="<%= pastInput.image_url %>"  autocomplete="off" required> -->
                    <input 
                    type="file" 
                    name="image"
                    id="image"
                    autocomplete="off" 
                    required>
                    <br>

                    <label  for="">Product Description</label>
                    <br>
                    <textarea rows="6"  name="description" id="description"  oninput="countCharacters()" required><%= pastInput.description %></textarea>
                    <p><span id="count">0</span> characters entered</p>
                    <script>
                        function countCharacters() {
                        let description = document.getElementById("description");
                        let count = document.getElementById("count");
                        count.innerHTML = description.value.length;
                        }
                    </script>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button id ="button" type="submit">Add Product</button>
            </form>
            <% if(errorMessage){ %>
                <div id ="error"> <%= errorMessage %></div>
                <% } %>
        </div> 
    </div>
    <%- include('../includes/footer.ejs') %>
