<%- include('includes/head.ejs') %>

    <link rel="stylesheet"  href="/css/cart-flex.css">
</head>

    <body>
<%- include('includes/nav.ejs') %>

        <main>
            <div class="flexbox-container">
                <% for(let i=0; i< products.length ;i++){ %>

                <div class="flexbox-item">
                    <img src="<%=products[i].image_url%>" alt="description of image" />
                    <p><%= products[i].title %></p>
                    <div class="button-container">
                        <form action="/shop/cart/add-to-cart/<%= products[i].id %>" method="post">
                        <button class="button" id="add-to-cart">Add to Cart</button>
                        <a class="button" href="/admin/browse-product/<%= products[i].id %>">Browse</a>
                        </form>
                        </div>

                    <p class="price">$<%= products[i].price %></p>
                    <br>
                    
                    <p><%= products[i].title %></p>
                    
                    
                </div>
                <% }%>
            </div>
        </main>

        <%- include('includes/footer.ejs') %>
