<%- include('includes/head.ejs') %>

    <link rel="stylesheet"  href="/css/flex.css">
</head>

    <body>
<%- include('includes/nav.ejs') %>

        <main>
            <div class="flexbox-container">
                <% for(let i=0; i< products.length ;i++){ %>

                <div class="flexbox-item">
                    <img src="<%=products[i].image_url%>" alt="description of image" />
                    <div class="button-container">
                        <form method="post" action="/admin/delete-product/<%= products[i].id %>" >
                        <a href="/admin/edit-product/<%= products[i].id %>" class="button" id="edit">Edit Product</a>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="button" id="delete">Delete Product</button>
                    </form>
                        </div>

                    <p class="price">$<%= products[i].price %></p>
                    <br>
                    
                    <p><%= products[i].title %></p>
                    
                    
                </div>
                <% }%>
            </div>
        </main>

        <%- include('includes/footer.ejs') %>
