<%- include('../includes/head.ejs') %>

    <link rel="stylesheet"  href="/css/login&signup.css">

</head> 
    <body>
        <%- include('../includes/nav.ejs') %>
        
    <div class="container">
        <form method="post" action="/user/forgot-password" novalidate>
                <label for="email">Email</label>
                <br>
                <input type="text"  name="email" id="email" value="<%= pastInput.email %>"  required>
                <br>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <br>
                <button class="button"  id="reset" type="submit" >Reset Password</button>
        </form>
        <% if(errorMessage){ %>
            <div id ="error"> <%= errorMessage %></div>
            <% } %>
    </div>
    <%- include('../includes/footer.ejs') %>
