<%- include('../includes/head.ejs') %>

    <link rel="stylesheet"  href="/css/cart-flex.css">
</head>

    <body>
<%- include('../includes/nav.ejs') %>

        <main>
            
            
            <div class="flexbox-container">
                
                <h1 style = "margin-left: 22%; display: inline;">Subtotal (<%= products.length %> items): $<%= subtotal %></h1>
                <% if(products.length > 0){ %>
                
                <form action="/shop/order-cart %>"  method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="button" id="order" >Order Now</button>
                </form>
                <% }%>

                <% for(let i=products.length-1; i>= 0 ;i--){ %>

                <div class="flexbox-item" style="display: inline;">
                    <img src="/<%= products[i].image %>" width="100" height="100" alt="description of image" />
                    <p><%= products[i].title %></p>
                    <div class="button-container">
                        <form action="/shop/cart/add-to-cart/<%= products[i].id %>" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="button" id="increment-product-cart" >+</button>
                        </form> 

                        <form action="/shop/cart/minus-cart-item/<%= products[i].id %>" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="button" id="increment-product-cart" >-</button>

                        </form>    

                        <form action="/shop/cart/delete-from-cart/<%= products[i].id %>" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="button" id="delete-from-cart">Delete From Cart </button>
                        </form>
                        
                    </div>

                    <p class="price">Quantity:<%= products[i].quantity%> 
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        $<%= products[i].price %> a piece</p>
                    <br>
                    

                    
                    
                </div>
                <% }%>
            </div>
        </main>

        <%- include('../includes/footer.ejs') %>
