<%- include('../includes/head.ejs') %>

    <link rel="stylesheet"  href="/css/cart-flex.css">
</head>

    <body>
<%- include('../includes/nav.ejs') %>

        <main>
            <form action="/shop/order-cart %>" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="button" id="order" >Order Now</button>
            </form>
            
            <div class="flexbox-container">
                <h1 style = "margin-left: 22%;">Subtotal (<%= products.length %> items): $<%= subtotal %></h1>
                <% for(let i=0; i< products.length ;i++){ %>

                <div class="flexbox-item">
                    <img src="<%=products[i].image_url %>" alt="description of image" />
                    <p><%= products[i].title %></p>
                    <div class="button-container">
                        <form action="/shop/cart/add-to-cart/<%= products[i].id %>" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="button" id="increment-product-cart" >+</button>
                        </form> 

                        <form action="/shop/cart/minus-cart-item/<%= products[i].id %>" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="button" id="increment-product-cart" >-</button>

                        </form>    

                        <form action="/shop/cart/delete-from-cart/<%= products[i].id %>" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="button" id="delete-from-cart">Delete From Cart </button>
                        </form>
                        
                    </div>

                    <p class="price">Quantity:<%= products[i].quantity%> 
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        $<%= products[i].price %> a piece</p>
                    <br>
                    

                    
                    
                </div>
                <% }%>
            </div>
        </main>

        <%- include('../includes/footer.ejs') %>
