<%- include('../includes/head.ejs') %>

    <link rel="stylesheet"  href="/css/cart-flex.css">
</head>

    <body>
<%- include('../includes/nav.ejs') %>

        <main>
            <div class="flexbox-container">
                <% for(let i=0; i< orders.length ;i++){ %>

                <div class="flexbox-item">
                    <h2>Order ID :<%= orders[i].id  %></h2>
                    <a href="/shop/orders/<%= orders[i].id  %>">Invoice</a>
                </div>

                <% }%>
            </div>
        </main>

        <%- include('../includes/footer.ejs') %>
